.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  background-color: white;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
  margin-bottom: 4rem;
}